.vscode
build/Licence,fff
build/manual.html
build/ReadMe,fff
build/!CashBook/!Help,ffb
build/!CashBook/!RunImage,ff8
build/!CashBook/Resources/UK/CashBook,3d6
build/!CashBook/Resources/UK/HelpText,fff
build/!CashBook/Resources/UK/Menus,ffd
build/package
obj
